* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 8000px; */
}
nav {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-around;

}

/* Primeiro cabeçalho */

#logo {
    display:inline-flex
}

.cima{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    
}
#jordan {
    width: 40px;
    height: 40px;
    padding-left: 80px;
}

h5{
    padding: 10px;
    font-size: 20px;
}

p {
    padding: 8px;
}

.tamanho {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 0.8em;
}

.tamanho:hover {
    color: grey;
}

/* Segundo cabeçalho */

.nike {
    display: inline-block;
    
}

.img{
    width: 80px;
    height: 70px;
}
ul {
    display: inline-flex;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 12px;
    font-size: 1.2em;
}
/* nav li a:hover {
    /* background-color: red 
}*/

/* .dropdown {
    width: 100%;
    height: 20%px;
} */

.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-menu{
    display: block;
    color: aqua;
    border: 1px solid black;
    background-color: white;
}

.menus {
    display: block;
    font-size: 1em;
    color: gray;
    padding-bottom: 2px;
    margin-right: 20px;
}

.menus:hover {
    color: black;
}

.h4 {
    font-size: 1.1em;
    color: black;
}


/* slide*/

.slide {
    display: inline-flex;
    align-items: center;
    padding-left: 30%;
}

#espaco {
    padding-left: 90px;
    padding-right: 90px;
}

/*corpo*/
main {
    background-color: white;
}

h2 {
    padding-left: 12%;
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 1.9em;
}

.produto {
    height: 235px;
    padding-right: 12px;
}

#pro {
    text-align: center;
}

#nome {
    display: inline-flex;
    padding-left: 11%;
}

.no {
    /* padding-left: 20px; */
    margin-left: 10px;
}

.nom {
    /* padding-left: 65px; */
    margin-left: 60px;
}

del {
    color: grey;
}

.compra {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 200px;
    padding: 7px;
    display: none;
}

#compra1:hover .compra {
    display: block;
}

#compra2:hover .compra {
    display: block;
}

#compra3:hover .compra {
    display: block;
}

#compra4:hover .compra {
    display: block;
}

 /* slide*/

.anuncio {
    width: 90%;
    padding-left: 60px;
    padding-top: 20px;
}

.botao {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px 20px;
    font-size: 1.1em;
}

.btn {
    text-align: center;
    padding-top: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

#titulo {
    font-size: 2em;
    padding-left: 60px;
}

.anuncio2 {
    display: inline-flex;
    width: 30%;
    padding-left: 30px;
    padding-top: 20px;
}

table {
    border: 1px solid black;
}

/* Lista */

.ul {
    display: block;
} 

.lista {
    font-size: 1.1em;
    color: gray;
    padding-bottom: 2px;
}

.lista:hover {
    color: black;
}

.l {
    display: inline-flex;
   margin: 10px 170px;
}

.h5 {
    font-size: 1.2em;
}

/* footer */

footer {
    background-color: black;
}

.rodape {
    display: inline-flex;
   margin-top: 30px;
   margin-bottom: 20px;
}

.ajuda {
    font-size: 1em;
    color: white;
    margin-left: 100px;
}

.cor {
    
    color: white;
    font-size: 0.8em;
    padding-bottom: 1px;
    margin-left: 100px;
   margin-right: 20px;
}

.cor:hover {
    color: grey;
}

hr {
    margin: 5px 30px;
}

.redes {
    display: inline-flex;
    margin: 5px;
}

.sociais {
    color: white;
    font-size: 0.8em;
    padding-bottom: 1px;
    margin: 5px 0.1px;
}

.centrealizar-redes {
    margin-left: 80px;
}
